<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css	">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js	"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js	"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/ad.css">
    <script src="./js/autocompleteArea.js"></script>
    <script src="./js/validationFields.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">פרסום</h2>

                <div id="rent">
                    <form id="msform" action="/form/submitAdvertisingRentingUpdate" method="post">
                        <!-- progressbar -->
                        <input type="hidden" name="Aid" value="<%=Aid%>" hidden></input>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">פרטי הנכס:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">שלב 1-5</h2>
                                </div>
                            </div>
                            <label class="fieldlabels">כתובת </label>

                            <input id="ship-address" autocomplete="off" type="text" name="address_ar" placeholder="הכנס מיקום" value="<%=address_ar%>" required/>
<script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=places&v=weekly"
      async
    ></script>                            <label class="fieldlabels">סוג הנכס</label>
                            <select class="form-select" id="inputGroupSelect03" name="type_property_ar"
                                    aria-label="Example select with button addon" >
                                <option selected><%=type_property_ar%></option>
                                <option value="1" name="apartment_ar">דירה</option>
                                <option value="2" name="garden_apartment_ar">דירת גן</option>
                                <option value="3" name="villa_ar">וילה</option>
                                <option value="4" name="penthouse_ar">גג/פנטהוז</option>
                                <option value="5" name="duplex_ar">דופלקס</option>
                                <option value="6" name="triplex_ar">טריפלקס</option>
                                <option value="7" name="unit_ar">יחידת דיור</option>
                                <option value="8" name="vacation_apartment_ar">דירת נופש</option>
                                <option value="9" name="studio_ar">סטודיו/לופט</option>
                                <option value="10" name="private house_ar">בית פרטי/קוטג'</option>
                                <option value="11" name="assisted_living_ar">דיור מוגן</option>
                                <option value="12" name="parking_ar">חניה</option>
                                <option value="13" name="Storage_ar">מחסן</option>
                            </select>
                            <label class="fieldlabels">מספר דירה</label> <input id="form1" type="number"
                                                                                name="apartment_num_ar"
                                                                                value="<%=apartment_num_ar%>"
                                                                                placeholder="" required/>
                            <label class="fieldlabels">קומה</label> <input id="form1" type="number" value="<%=floor_ar%>"name="floor_ar"
                                                                           placeholder="" required/>
                            <label class="fieldlabels">סה"כ קומות בבניין</label> <input id="form1" type="number"
                                                                                        value="<%=total_floors_ar%>"
                                                                                        name="total_floors_ar"
                                                                                        placeholder="" required/>
                            <label class="fieldlabels">גודל הנכס</label> <input id="form1" type="number"
                                                                                name="property_size_ar"
                                                                                value="<%=property_size_ar%>"
                                                                                placeholder="" required/>
                            <label class="fieldlabels">מספר חדרים</label> <input id="form1" type="number"
                                                                                 value="<%=rooms_numbers_ar%>"
                                                                                 name="rooms_numbers_ar"
                                                                                 placeholder="" required/>
                             <div class="col-3">
                                <label>

                                    <input type="checkbox" class="mr-1" name="available_immediately_ar" <%= available_immediately_ar  ? "checked" : "" %>>כניסה מיידית
                                </label>
                                <label class="fieldlabels">תאריך כניסה</label> <input id="form1" type="text"
                                                                                      name="entry_date_ar"
                                                                                      pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"
                                                                                      name="cpwd"
                                                                                      placeholder="Format: DD.MM.YYYY"
                                                                                      value="<%=entry_date_ar%>"
                                />
                            </div>
                        </div>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">מאפיינים:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">שלב 2-5</h2>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-6">
                                            <div class="panel-group" id="accordion" role="tablist"
                                                 aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h4 class="panel-title">
                                                            <a class="first" role="button" data-toggle="collapse"
                                                               data-parent="#accordion" href="#collapseOne"
                                                               aria-expanded="true" aria-controls="collapseOne">
                                                                פרטים נוספים
                                                                <span> </span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse collapse in"
                                                         role="tabpanel" aria-labelledby="headingOne">
                                                        <div>
                                                            <div class=" row">
                                                                <div class="col-3">
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= air_conditioning_ar  ? "checked" : "" %>
                                                                               name="air_conditioning_ar">מיזוג
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= sun_Terrace_ar  ? "checked" : "" %>
                                                                               name="sun_Terrace_ar">מרפסת שמש
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= terrace_ar  ? "checked" : "" %>
                                                                               name="terrace_ar">מרפסת
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= Yard_ar  ? "checked" : "" %>
                                                                               name="Yard_ar">חצר
                                                                    </label>
                                                                </div>
                                                                <div class="col-3">
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= elevator_ar  ? "checked" : "" %>
                                                                               name="elevator_ar">מעלית
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= renovated_ar  ? "checked" : "" %>
                                                                               name="renovated_ar">משופצת
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= bars_ar  ? "checked" : "" %>
                                                                               name="bars_ar">סורגים
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= parking_ar  ? "checked" : "" %>
                                                                               name="parking_ar">חניה
                                                                    </label>
                                                                </div>
                                                                <div class="col-3">
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= MMD_room_ar  ? "checked" : "" %>
                                                                               name="MMD_room_ar">ממ"ד
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= short_range_ar  ? "checked" : "" %>
                                                                               name="short_range_ar">לטווח קצר

                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= long_range_ar  ? "checked" : "" %>
                                                                               name="long_range_ar">לטווח ארוך
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= architectural_Design_ar  ? "checked" : "" %>
                                                                               name="architectural_Design_ar">עיצוב
                                                                        אדריכלי
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= Storage_ar  ? "checked" : "" %>
                                                                               name="Storage_ar">מחסן
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= accessibility_ar  ? "checked" : "" %>
                                                                               name="accessibility_ar">נגישות
                                                                    </label>
                                                                </div>
                                                                <div class="col-3">
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= furnished_and_equipped_ar  ? "checked" : "" %>
                                                                               name="furnished_and_equipped_ar">מרוהט
                                                                        ומאובזר
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= High_ceiling_ar  ? "checked" : "" %>
                                                                               name="High_ceiling_ar">תקרה גבוהה
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= new_property_ar  ? "checked" : "" %>
                                                                               name="new_property_ar">נכס חדש
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingTwo">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button"
                                                               data-toggle="collapse" data-parent="#accordion"
                                                               href="#collapseTwo" aria-expanded="false"
                                                               aria-controls="collapseTwo">
                                                                על האזור
                                                                <span> </span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse"
                                                         role="tabpanel" aria-labelledby="headingTwo">
                                                        <div>
                                                            <!--                                                            <div class="bs-example">-->
                                                            <!--                                                            <h4>Choose your favorite sports</h4>-->
                                                            <!--                                                            </div>-->

                                                            <div class=" row">
                                                                <div class="col-4">
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= quiet_area_ar ? "checked" : "" %>

                                                                               name="quiet_area_ar">אזור שקט
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= close_to_kindergartens_ar  ? "checked" : "" %>
                                                                               name="close_to_kindergartens_ar">קרוב
                                                                        לגני ילדים
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= secure_area_ar  ? "checked" : "" %>
                                                                               name="secure_area_ar">אזור מאובטח
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= close_to_train_ar  ? "checked" : "" %>
                                                                               name="close_to_train_ar">קרוב לרכבת
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= view_of_park_ar  ? "checked" : "" %>
                                                                               name="view_of_park_ar">נוף לפארק
                                                                    </label>
                                                                </div>
                                                                <div class="col-4">
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= close_to_gym_ar  ? "checked" : "" %>
                                                                               name="close_to_gym_ar">קרוב לחדר כושר
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= close_to_hospital_ar  ? "checked" : "" %>
                                                                               name="close_to_hospital_ar">קרוב לבית
                                                                        חולים
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= close_to_shopping_center_ar  ? "checked" : "" %>
                                                                               name="close_to_shopping_center_ar">קרוב
                                                                        למרכזי קניות
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= close_to_park_ar  ? "checked" : "" %>
                                                                               name="close_to_park_ar">קרוב לפארק
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= close_to_HM_ar  ? "checked" : "" %>
                                                                               name="close_to_HM_ar">קרוב לקופת
                                                                        חולים
                                                                    </label>
                                                                </div>
                                                                <div class="col-4">
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= close_to_public_transportation_ar  ? "checked" : "" %>
                                                                               name="close_to_public_transportation_ar">קרוב
                                                                        לתחבורה ציבורית
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= close_to_airport_ar  ? "checked" : "" %>
                                                                               name="close_to_airport_ar">קרוב לשדה
                                                                        תעופה
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= close_to_school_ar  ? "checked" : "" %>
                                                                               name="close_to_school_ar">קרוב לבי"ס
                                                                    </label>
                                                                    <label class="container">
                                                                        <input type="checkbox" class="mr-1"
                                                                                <%= near_the_sea_ar  ? "checked" : "" %>
                                                                               name="near_the_sea_ar">קרוב לים
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4"></div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingThree">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed last" role="button"
                                                                   data-toggle="collapse" data-parent="#accordion"
                                                                   href="#collapseThree" aria-expanded="false"
                                                                   aria-controls="collapseThree">
                                                                    תוספות
                                                                    <span> </span>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseThree" class="panel-collapse collapse"
                                                             role="tabpanel" aria-labelledby="headingThree">
                                                            <div>
                                                                <div>
                                                                    <!--                                                            <div class="bs-example">-->
                                                                    <!--                                                            <h4>Choose your favorite sports</h4>-->
                                                                    <!--                                                            </div>-->
                                                                    <div class=" row">
                                                                        <div class="col-4">
                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= Master_unit_ar  ? "checked" : "" %>
                                                                                       name="Master_unit_ar">יחידת
                                                                                הורים
                                                                            </label>
                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= Jacuzzi_ar  ? "checked" : "" %>
                                                                                       name="Jacuzzi_ar">ג'קוזי
                                                                            </label>
                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= Swimming_pool_ar  ? "checked" : "" %>
                                                                                       name="Swimming_pool_ar">בריכת
                                                                                שחיה
                                                                            </label>
                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= Water_heating_on_gas_ar  ? "checked" : "" %>
                                                                                       name="Water_heating_on_gas_ar">חימום
                                                                                מים על גז
                                                                            </label>


                                                                        </div>
                                                                        <div class="col-4">
                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= Guard_in_the_building_ar  ? "checked" : "" %>
                                                                                       name="Guard_in_the_building_ar">שומר
                                                                                בבנין
                                                                            </label>
                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= underground_parking_lot_ar  ? "checked" : "" %>
                                                                                       name="underground_parking_lot_ar">חניון
                                                                                תת קרקעי
                                                                            </label>
                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= parquet_ar  ? "checked" : "" %>
                                                                                       name="parquet_ar">פרקט
                                                                            </label>
                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= equipped_kitchen_ar  ? "checked" : "" %>
                                                                                       name="equipped_kitchen_ar">מטבח
                                                                                מאובזר
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-4">

                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= Bicycle_room_ar  ? "checked" : "" %>
                                                                                       name="Bicycle_room_ar">חדר
                                                                                אופניים
                                                                            </label>
                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= Security_Cameras_ar  ? "checked" : "" %>
                                                                                       name="Security_Cameras_ar">מצלמות
                                                                                אבטחה
                                                                            </label>
                                                                            <label class="container">
                                                                                <input type="checkbox" class="mr-1"
                                                                                        <%= Irrigation_system_ar  ? "checked" : "" %>
                                                                                       name="Irrigation_system_ar">מערכת
                                                                                השקייה
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">תמונות:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">שלב 3-5</h2>
                                </div>
                            </div>
                            <label class="fieldlabels">העלה קובץ:</label> <input id="form1" type="file" name="pic"
                                                                                 accept="image/*">
                        </div>

                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">מידע בסיסי:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">שלב 4-5</h2>
                                </div>
                            </div>
                            <label class="fieldlabels">מחיר </label><input id="form1" type="number" name="price_ar"
                                                                           value="<%=price_ar%>"
                                                                           placeholder="" required/>
                            <label class="fieldlabels">מספר תשלומים בשנה</label>
                            <select class="form-select" id="inputGroupSelect03" name="Number_of_payments_ar"
                                    aria-label="Example select with button addon">
                                <option selected><%=Number_of_payments_ar%></option>
                                <option value="1" name="1_ar">1</option>
                                <option value="2" name="2_ar">2</option>
                                <option value="3" name="3_ar">3</option>
                                <option value="4" name="4_ar">4</option>
                                <option value="5" name="5_ar">5</option>
                                <option value="6" name="6_ar">6</option>
                                <option value="7" name="7_ar">7</option>
                                <option value="8" name="8_ar">8</option>
                                <option value="9" name="9_ar">9</option>
                                <option value="10" name="10_ar">10</option>
                                <option value="11" name="11_ar">11</option>
                                <option value="12" name="12_ar">12</option>
                            </select>


                            <label class="fieldlabels">ארנונה</label> <input id="form1" type="number"
                                                                             value="<%=property_tax_ar%>"  name="property_tax_ar" required/>
                            <label class="fieldlabels">ועד בית</label> <input id="form1" type="number"
                                                                              value="<%=home_vaad_ar%>"  name="home_vaad_ar" required/>
                            <label class="fieldlabels">שם</label> <input id="form1" type="text"  value="<%=name_ar%>"name="name_ar" placeholder="" required />

                            <label class="fieldlabels">מייל</label> <input id="form1" type="email"  value="<%=email_ar%>"name="email_ar"
                                                                           required/>
                            <label class="fieldlabels">טלפון</label> <input id="form1" type=tel
                                                                            pattern="[05][0-9]{9}" value="<%=phone_ar%>" name="phone_ar" required/>
                            <label class="fieldlabels"> טלפון נוסף</label> <input id="form1" type="tel"
                                                                                  pattern="[05][0-9]{9}"

                                                                                  name="anotherPhone_ar" />
                            <label class="fieldlabels">טקסט חופשי</label>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="comment" name="free_text_ar"><%=free_text_ar%></textarea>
                            </div>

                        </div>

                        <input type="submit" name="next" class="action-button" value="סיום"/>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="../js/countries.js"></script>
</body>
</html>

